{% extends 'layouts/main.html' %}
{% block title %}Recipes{% endblock %}
{% block content %}
<br><br>
<form method="POST">
 <span><input type="text" class="Grey-box center" style="color: #334455; font-size: 24px; border: none; width: 100%; ;" placeholder="Enter Recipe Name here..." id="recipename" name="recipename" type="text"></h5><button type="submit" value="Search">Submit</button></span>
</form>
{% for item in recipelist %}
  <br>
  <div class="Recipe-Box" style="padding-left: 10%; padding-right: 10%;">
    <form method="POST" action="{{ url_for('views.add_favorite', rname=item) }}">
      <p style="font-size: 2.5rem; text-align: center; justify-content: center;"> {{item}} </p>
      <br>
      <a class="GreenButton" type="button" style="text-align: center; align-items: center; font-size: 2.5rem;" id="{{item}}" name="{{item}}" href="{{ url_for('views.recipeinfo', rname=item) }}">View Recipe</a>
      <button class="GreenButton" type="submit" style="text-align: center; align-items: center; font-size: 2.5rem;">Add to Favorites</button>
    </form>
  </div>
  <br><br>
{% endfor %}
{% endblock %}

