{% extends 'layouts/main.html' %}
{% block title %}Recipe Info{% endblock %}
{% block content %}
<br><br>
<br>
<style>
  .form-label {
      font-size: 24px;
      color: #333; 
  }
  .reviews-container {
        display: flex;
        flex-direction: column;
    }

    .review-block {
        background-color: #f8f8f8; /* Set your desired background color */
        border: 1px solid #ddd; /* Set your desired border color */
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;}
    
  .form-control {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      line-height: 1.5;
      border: 1px solid #ccc;
      border-radius: 5px;
      transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  }
  .form-control:focus {
      border-color: #80bdff; 
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25); 
  }
  .comment-section {
        display: flex;
        align-items: flex-start;
    }


.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>

<div class="recipe-info" style="padding-left: 10%; padding-right: 10%;">

  <h2 style="font-size: 2.5rem; text-align: center; justify-content: center;"> {{Recipe}} </h2>
  <br>
  <div class="bio-row">
    {% for item in ingredientlist %}
    <div class="column">
      <label style="text-align: center; font-size: 17px;"> {{item}} </label>
    </div>
    {% endfor %}
  </div>
  <div style="text-align: right;">
    {% if image_data_base64 %}
      <div style=" overflow: hidden; display: inline-block;">
        <img src="data:image/png;base64,{{image_data_base64}}" alt="Image" style=" border-radius: 50%; height: 40%; width: 40%; object-fit: cover;">
      </div>
    {% else %}
      <p>No image available for this recipe.</p>
    {% endif %}
  </div>
</div>
<br><br><br><br>
{% if chef_id %}
<div class="dropdown">
  <button class="dropbtn GreenButton" style="background-color: #98bfa3; width: 150px;">Rate</button>
  <div class="dropdown-content">
    <a href="{{ url_for('views.rate_recipe', chef_id=chef_id, rating=1,rname=Recipe)}}">1 Star</a>
    <a href="{{ url_for('views.rate_recipe', chef_id=chef_id, rating=2,rname=Recipe)}}">2 Star</a>
    <a href="{{ url_for('views.rate_recipe', chef_id=chef_id, rating=3,rname=Recipe)}}">3 Star</a>
    <a href="{{ url_for('views.rate_recipe', chef_id=chef_id, rating=4,rname=Recipe)}}">4 Star</a>
    <a href="{{ url_for('views.rate_recipe', chef_id=chef_id, rating=5,rname=Recipe)}}">5 Star</a>
  </div>
</div>
{%endif%}
<br><br>
<div style="height: 10px;"></div>
<div class="comment-section">
  <div class="form-floating mt-5">
  <form method="post" action="{{ url_for('views.recipeinfo', rname=Recipe, userid= current_user.id) }}">
    {{form.csrt_token}}
    {{form.hidden_tag()}}
    <div class="mb-3">
      {{ form.review.label(class="form-label") }}
      {{ form.review(size=20, class="form-control", style="width: 250px;") }}
    </div> <br>
    {{form.recaptcha}}
    <button class="GreenButton" style="display: inline-block; color: white;">Add Comment</button>
  </form>
  </div>   
</div>
<div style="height: 30px;"></div>
<div class="reviews-container" style="margin-left: 10px;">
  {% for review in review_list %}
      <div class="review-block">
          <label style="text-align: center; font-size: 16px;">{{review[0]}} : {{review[1]}}</label>
      </div>
  {% endfor %}
</div>
<div style="height: 30px;"></div>
<a class="GreenButton" type="button" style="text-align: center; align-items: center; font-size: 2.5rem; align-self: center; color: white;" href="{{ url_for('views.about') }}">Back</a>
<a class="GreenButton" type="button" style="text-align: center; align-items: center; font-size: 2.5rem; align-self: center; color: white;" href="{{ url_for('views.generateshoplist', userid=current_user.id, rname=Recipe)}}">Generate Shopping List</a>
<a class="GreenButton" type="button" style="text-align: center; align-items: center; font-size: 2.5rem; align-self: center; color:white;" href="{{ url_for('views.recipe_directions', userid=current_user.id, rname=Recipe)}}">Directions</a>
{% if chef_id %}
        <a class="GreenButton" type="button" style="text-align: center; align-items: center; font-size: 2.5rem; align-self: center; color:white;" href="{{ url_for('views.chef_profile', chef_id=chef_id) }}">Chef Profile</a>
{% endif %}
{% endblock %}