{% extends 'layouts/main.html' %}
{% block title %}Recipes{% endblock %}
{% block content %}
<br><br>
<form method="POST">
 <span><input type="text" class="inputbox" style="color: #334455; font-size: 24px; border: none; width: 100%; ;" placeholder="Enter Recipe Name here..." id="recipename" name="recipename" type="text"></span>
</form>
{% for item in recipelist %}
  <br>
  <div class="Recipe-Box" style="padding-left: 10%; padding-right: 10%;">
    <form method="POST" action="{{ url_for('views.get_recipe_image', rname=item) }}">
        {% if image_data_base64 %}
          <img src="data:image/png;base64,{{image_data_base64}}" alt="Image" style="height: 400px; width: 400px; object-fit: cover;">
        {% else %}
          <!-- <p>No image available for this recipe.</p> -->
        {% endif %}
        <input type="hidden" value="Show Image">
    </form>
    <form method="POST" action="{{ url_for('views.add_favorite', rname=item) }}">
      <p style="font-size: 2.5rem; text-align: center; justify-content: center; font-family: 'Times New Roman', Times, serif"> {{item}} </p>
      <br>
      <a class="GreenButton" type="button" style="text-align: center; align-items: center; font-size: 2.5rem;" id="{{item}}" name="{{item}}" href="{{ url_for('views.recipeinfo', rname=item) }}">View Recipe</a>
      <button class="GreenButton" type="submit" style="text-align: center; align-items: center; font-size: 2.5rem;">Add to Favorites</button>
    </form>
  </div>
  <br><br>
{% endfor %}
{% endblock %}

