blinker
certifi
charset-normalizer
click
colorama
decorator
distlib
filelock
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
platformdirs
requests
SQLAlchemy
typing_extensions
urllib3
virtualenv
Werkzeug
WTForms
uuid
selenium
